<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admingoi/add/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <span>Name</span><input type="text" name="name">
        <span>Description</span><input type="text" name="description">
        <span>Price</span><input type="number" name="price">
        <span>Quantity</span><input type="number"name="quantity">
        <span>Image</span><input type="file" name="img">
        <button type="submit">Submit</button>
    </form>
</body>
</html>